@import "../utils/vars";

.works {
  padding: 94px 215px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: 370px;
  }
}

/* -------- form filter -------------- */
.filter {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 8px;
}

.filter__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .filter__label {
    color: getColor("white");
    background-color: getColor("accent");
    box-shadow:
      0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.filter__label {
  padding: 6px 22px;

  background-color: getColor("background-1");

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;

  transition:
    color 250ms $transition-timing-func,
    background-color 250ms $transition-timing-func,
    box-shadow 250ms $transition-timing-func;
}
