@import "../utils/vars";

.logo {
  display: inline-block;
  color: getColor("black");

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: getColor("accent");
}
