@import "../utils/vars";

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("background-2");
}

.footer-flex {
  display: flex;
  align-items: baseline;

  &-left {
    margin-right: 70px;
  }
}

.logo--footer {
  margin-bottom: 20px;
  color: getColor("white");
}

/* footer-address */
.footer-address__text {
  margin-top: 0;
  margin-bottom: 9px;

  color: getColor("white");

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address__link {
  display: block;

  color: getColor("transparent-text");

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
/*---------------------------------------------*/
.footer__text {
  margin-top: 0;
  margin-bottom: 20px;

  color: getColor("white");

  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

/* footer-nav */
.footer-nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  gap: 10px;
}

.footer-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;

  color: getColor("white");
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms $transition-timing-func;

  &:hover,
  &:focus {
    background-color: getColor("accent");
  }
}

.footer-nav__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
